<div class="form-group">
    <label for="id_title">Title</label>
    <input class="form-control {%  if form.title.errors %} is-invalid {% endif %} " type="text" name="title"
        maxlength="100" required id="id_title">
    {%  if form.title.errors %}<div class="invalid-feedback">{{ form.title.errors }}</div> {% endif %}
</div>

<div class="form-group">
    <label for="id_description">Description</label>
    <textarea class="form-control {%  if form.description.errors %} is-invalid{% endif %}" name="description" cols="40"
        rows="3" id="id_description"></textarea>
    {%  if form.description.errors %}<div class="invalid-feedback">{{ form.description.errors }}</div> {% endif %}
</div>

<div class="form-group">
    <label for="id_upload_by">Deadline</label>
    <input class="form-control {%  if form.upload_by.errors %} is-invalid {% endif %}" type="date" name="upload_by"
        required id="id_upload_by">
    {%  if form.upload_by.errors %}<div class="invalid-feedback">{{ form.upload_by.errors }}</div> {% endif %}
</div>


<div class="form-row">
    <div class="form-group col-md-6">
        <label for="id_tags">Work Type</label>
        <select name="work_type" id="id_tags"
            class="form-control {%  if form.work_type.errors %} is-invalid{% endif %}">
            {% for x, y in form.fields.work_type.choices %}
            <option value="{{ x }}" {% if form.fields.work_type.value == x %} selected{% endif %}>{{ y }}</option>
            {% endfor %}
        </select>
        {%  if form.work_type.errors %}<div class="invalid-feedback">{{ form.work_type.errors }}</div> {% endif %}
    </div>
</div>

<div class="form-group col-md-6">
    <label for="id_groups">Groups:</label>
    <select name="groups" id="id_groups" multiple
        class="form-control {%  if form.file.errors %} is-invalid {% endif %}">
        {% for x, y in form.fields.groups.choices %}
        <option value="{{ x }}" {% if form.fields.groups.value == x %} selected{% endif %}>{{ y }}</option>
        {% endfor %}
    </select>
    {%  if form.groups.errors %}<div class="invalid-feedback">{{ form.groups.errors }}</div> {% endif %}
</div>