{% extends 'backend/base.html' %} {% block content %}

<div
  class="modal fade"
  id="new-group-modal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="createWorkModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Group</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
          id="new-group-form"
          action="{% url 'user:group_create' %}"
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %} {{ new_group_form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="new-group-btn">
          Save
        </button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="desktop-header"></div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          <div class="header-title">
            <h4 class="card-title">Groups</h4>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <div class="row justify-content-between">
              <div class="col-sm-6 col-md-6">
                <div id="group_list_datatable_info" class="dataTables_filter">
                  <form class="mr-3 position-relative">
                    <div class="form-group mb-0">
                      <input
                        type="search"
                        class="form-control"
                        id="group-list-search"
                        placeholder="Search"
                        aria-controls="group-list-table"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <a
                href="#"
                id="show-new-group-btn"
                class="btn btn-primary add-btn"
                data-toggle="work_create_modal"
                data-target="work_create_modal"
                ><i class="las la-plus pr-2"></i>New Group</a
              >
            </div>
            <table
              id="group-list-table"
              class="table table-striped tbl-server-info mt-4"
              role="grid"
              aria-describedby="user-list-page-info"
            >
              <thead>
                <tr class="ligth">
                  <th>Name</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for group in groups %}
                <tr id="group_{{ group.id }}">
                  <td >{{ group.name }}</td>
                  <td>
                    <div class="flex align-items-center list-user-action">
                      <button
                              data-extra-toggle="delete_group"
                        class="btn btn-danger iq-bg-primary"
                        title=""
                        data-original-title="Delete"
                        group_id="{{ group.id }}"

                      >
                          <form action="{% url 'user:group_delete' group.id %}" method="post">{% csrf_token %}</form>
                        <i class="ri-delete-bin-line" style="margin: 0px"></i>
                      </button>
                    </div>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block custom_js %}
<script>
  $("#group-list-search").on("keyup", function () {
    const selection = $(this).val();
    const dataset = $("#group-list-table tbody").find("tr");
    dataset.show();
    dataset
      .filter(function (index, item) {
        return !$(item)
          .children("td")
          .first()
          .text()
          .toLowerCase()
          .includes(selection.toLowerCase());
      })
      .hide();
  });

  $("#show-new-group-btn").click(function () {
    $("#new-group-modal").modal("show");
  });

  $("#new-group-btn").on("click", function () {
    const form = $("#new-group-form");
    $.ajax({
      url: form.attr("action"),
      type: "POST",
      data: form.serialize(),
      success: function (data) {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: "btn btn-primary",
            cancelButton: "btn btn-outline-primary ml-2",
          },
          buttonsStyling: false,
        });
        try {
          if (JSON.parse(data) === "success") {
            console.log("got success");

            swalWithBootstrapButtons
              .fire({
                title: "Success!",
                icon: "success",
                text: "Successfully create the group",
                showCancelButton: false,
                confirmButtonText: "OK",
                reverseButtons: true,
              })
              .then((result) => {
                location.reload();
              });
          } else {
            form.innerHTML = data.toString();
          }
        } catch (e) {
          form.html(data);
        }
      },
      error: function (data) {
        console.log(data);
      },
    });
  });
</script>
{% endblock %}
