{% extends 'backend/base.html' %}
{% block content %}
<div class="container-fluid">
 <div class="row">
    <div class="col-lg-12">
       <div class="card">
          <div class="card-body p-0">
             <div class="iq-edit-list usr-edit">
                <ul class="iq-edit-profile d-flex nav nav-pills">
                   <li class="col-md-3 p-0">
                      <a class="nav-link active" data-toggle="pill" href="#personal-information">
                      Personal Information
                      </a>
                   </li>
                   <li class="col-md-3 p-0">
                      <a class="nav-link" data-toggle="pill" href="#chang-pwd">
                      Change Password
                      </a>
                   </li>


                </ul>
             </div>
          </div>
       </div>
    </div>
    <div class="col-lg-12">
       <div class="iq-edit-list-data">
          <div class="tab-content">
             <div class="tab-pane fade active show" id="personal-information" role="tabpanel">
                <div class="card">
                   <div class="card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                         <h4 class="card-title">Personal Information</h4>
                      </div>
                   </div>
                   <div class="card-body">
                        <h3>
                            {% if request.user.is_teacher %}Teacher{% else %}Student{% endif %}
                        </h3> <br>
                      <form action="{% url 'user:profile' %}" enctype="multipart/form-data" method="post">
                          {% csrf_token %}
                         <div class="form-group row align-items-center">
                            <div class="col-md-12">
                               <div class="profile-img-edit">
                                  <div class="crm-profile-img-edit">
                                     <img class="crm-profile-pic avatar-100" src="{{ request.user.avatar.url }}" alt="profile-pic">
                                     <div class="crm-p-image bg-primary">
                                        <i class="las la-pen upload-button"></i>
                                        <input class="file-upload" id="avatar_edit" name="avatar" type="file" accept="image/*">
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                              <div class="form-group row">
                                <label for="user_id_readonly" class="col-sm-2 col-form-label">{% if request.user.is_teacher %}Faculty Id:{% else %}Admission Number:{% endif %}</label>
                                <div class="col-sm-10">
                                  <input type="text" readonly class="form-control-plaintext" id="user_id_readonly" value="{{ request.user.user_id }}">
                                </div>
                              </div>
{#                        <div class="row align-items-center">#}
{#                            <div class="form-group row">#}
{#                               <label for="uname">{% if request.user.is_teacher %}Faculty Id:{% else %}Admission Number:{% endif %}</label>#}
{#                               <input type="text" readonly class="form-control-plaintext" value="{{ request.user.user_id }}">#}
{#                                <div class="invalid-feedback"> {% if form.email.errors %}{{ form.email.errors }}{% endif %} </div>#}
{#                            </div>#}
{#                        </div>#}
                         <div class=" row align-items-center">

                            <div class="form-group col-sm-6">
                               <label for="fname">First Name:</label>
                               <input name="first_name" type="text" class="form-control {% if form.first_name.errors %}is-invalid{% endif %}" id="fname" value="{{ form.first_name.value }}" style="cursor: auto;">
                                <div class="invalid-feedback"> {% if form.first_name.errors %}{{ form.first_name.errors }}{% endif %} </div>
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="lname">Last Name:</label>
                               <input name="last_name" type="text" class="form-control {% if form.last_name.errors %}is-invalid{% endif %}" id="lname" value="{{ form.last_name.value }}">
                                <div class="invalid-feedback"> {% if form.last_name.errors %}{{ form.last_name.errors }}{% endif %} </div>
                            </div>
                            <div class="form-group col-sm-6">
                               <label for="uname">Email:</label>
                               <input name="email" type="email" class="form-control {% if form.email.errors %}is-invalid{% endif %}" id="uname" value="{{ form.email.value }}">
                                <div class="invalid-feedback"> {% if form.email.errors %}{{ form.email.errors }}{% endif %} </div>
                            </div>



                         </div>
                         <button type="submit" class="btn btn-primary mr-2">Change</button>

                      </form>
                   </div>
                </div>
             </div>
             <div class="tab-pane fade" id="chang-pwd" role="tabpanel">
                <div class="card">
                   <div class="card-header d-flex justify-content-between">
                      <div class="iq-header-title">
                         <h4 class="card-title">Change Password</h4>
                      </div>
                   </div>
                   <div class="card-body">
                      <form id="passwordchange" action="{% url 'user:changepassword' %}" method="post" enctype="multipart/form-data">
                          {% csrf_token %}
                         <div class="form-group">
                            <label for="cpass">Current Password:</label>
                            <input type="Password" name="old_password" class="form-control" id="cpass" value="" >
                             <div class="invalid-feedback"></div>
                         </div>
                         <div class="form-group">
                            <label for="npass">New Password:</label>
                            <input type="Password" name="new_password1" class="form-control" id="npass" value="">
                             <div class="invalid-feedback"></div>
                         </div>
                         <div class="form-group">
                            <label for="vpass">Verify Password:</label>
                            <input type="Password" name="new_password2" class="form-control" id="vpass" value="" >
                             <div class="invalid-feedback"></div>
                         </div>
                         <button type="submit" class="btn btn-primary mr-2">Change</button>
                      </form>
                   </div>
                </div>
             </div>


          </div>
       </div>
    </div>
 </div>
</div>
{% endblock %}
{% block custom_js %}
    <script>
        $('#passwordchange').on('submit', function (){
            const form = $(this);
            var url = form.attr('action');
            const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
              confirmButton: 'btn btn-primary',
              cancelButton: 'btn btn-outline-primary ml-2'
            },
            buttonsStyling: false
          })
            $.ajax({
                type: "POST",
                url: url,
                data: form.serialize(),
                success: function (data) {
                    form.find('.is-invalid').removeClass('is-invalid');
                    try {
                        if (JSON.parse(data) == 'success') {
                            swalWithBootstrapButtons.fire({
                                title: 'Success!',
                                icon: 'success',
                                text: "successfully changed the password",
                                type: 'success',
                                showCancelButton: false,
                                confirmButtonText: 'OK',
                                reverseButtons: true
                            }).then((result) => {
                                form.reset();

                            })
                        } else {
                            const data_json = JSON.parse(data);
                            for (const [key, value] of Object.entries(data_json)) {
                                console.log(key, value);
                                  const fields = form.find("[name=" + key + "]");
                                  console.log(fields)
                                  fields.addClass('is-invalid');
                                  fields.parent().find('.invalid-feedback').text(value[0]["message"]);
                                }
                        }
                    } catch (e) {
                        console.log(data)
                    }


                }
            });
            return false;
        });
    </script>
{% endblock %}