{% load static %}
<!DOCTYPE html>
<html>
  {% include "head.html" %}
  
  <body>
    <!--<script src="script.js"></script>-->
    <main>
      {% include "navbar.html" %} 
      <section id="right-section">
        <h1 class="section-heading">Notebooks</h1>
        <form class="new-document">
          <button>
            <i class="bi bi-pen"></i>
            <span>New</span>
          </button>
        </form>
        <div class="hl"></div>        
        <div class="documents">
          {% for desc in object_list %}
          <div class="document">
            <div>{{desc.notebook_id}}</div>            
            <a href="http://localhost:3000/p/{{ desc.notebook_id }}" target="_blank">
              <i class="bi bi-pen"></i>
            </a>
          </div>
          {% empty %}
            <p>No notebooks</p>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>