{% load static %}
<!DOCTYPE html>
<html>
  {% include "head.html" %}  
  <body>
    <!--<script src="script.js"></script>-->
    <main>
      {% include "navbar.html" %} 
      <section id="right-section">
        <h1 class="section-heading">Homework</h1>
        <div class="homeworks">
          {% for post in object_list %}
          <div class="homework">
              <div style="display: flex; align-items: center; justify-content: space-between">
                  <div>
                      <h2 class="homework-title">{{ post.title }}</h2>
                      <p class="homework-description">
                        {{ post.description }}
                      </p>
                  </div>
                  <div>
                      <span class="homework-start">Created on: {{ post.updated_at|date:"nS F o" }}</span>
                      <span class="homework-due">Deadline: {{ post.upload_by|date:"nS F o" }}</span>
                  </div>
              </div>


            <form class="homework-form" method="post" action="{% url 'homework:submission_create' post.id %}">
{#              <input type="file" id="file" />#}
                {{ submission_form.file }}

                {% csrf_token %}
              <button>
                <i class="bi bi-upload"></i>
                <span>Upload</span>
              </button>
            </form>

          </div>
          {% empty %}
          <p class="homework-description">
            No work right now YeY
          </p>
          {% endfor %}       
        </div>
      </section>
    </main>
  </body>
</html>