<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <!-- <meta http-equiv="refresh" content="0.1"> -->
    <title>replit</title>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
  </head>
  <body>
    <script src="script.js"></script>
    <main>
      <section id="left-section">
        <div>
          <i class="bi bi-house"></i>
          <a href="./index.html">Home</a>
        </div>
        <div>
          <i class="bi bi-person"></i>
          <a href="./profile.html">Profile</a>
        </div>
        <div>
          <i class="bi bi-exclamation-circle"></i>
          <a href="./announcements.html">Announcements</a>
        </div>
        <div>
          <i class="bi bi-file-check"></i>
          <a href="./homework.html">Homework</a>
        </div>
        <div>
          <i class="bi bi-list-ol"></i>
          <a href="./tests.html">Tests</a>
        </div>
        <div class="active">
          <i class="bi bi-file-earmark-binary"></i>
          <a href="#">Notebooks</a>
        </div>
        <footer>Logout</footer>
      </section>
      <section id="right-section">
        <h1 class="section-heading">Notebooks</h1>
        <form class="new-document">
          <button>
            <i class="bi bi-pen"></i>
            <span>New</span>
          </button>
        </form>
        <div class="hl"></div>
        <div class="documents">
          <div class="document">
            <div>Lorem ipsum dolor sit.</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Odit vero corrupti molestias.</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Ullam harum cum consectetur!</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Tenetur magnam illo eum.</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Tempore error necessitatibus reprehenderit?</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Iure tempora aliquam maiores?</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Est numquam sint provident?</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Delectus aspernatur vel fugiat?</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Incidunt culpa explicabo ipsa.</div>
            <i class="bi bi-pen"></i>
          </div>
          <div class="document">
            <div>Ex deserunt qui sint!</div>
            <i class="bi bi-pen"></i>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>