<section id="left-section">
    <div>
      <i class="bi bi-house"></i>
      <a href="./index.html">Home</a>
    </div>
    <div>
      <i class="bi bi-person"></i>
      <a href="./profile.html">Profile</a>
    </div>
    <div class="">
      <i class="bi bi-exclamation-circle"></i>
      <a href="./announcements.html">Announcements</a>
    </div>
    <div>
      <i class="bi bi-file-check"></i>
      <a href="./homework.html">Homework</a>
    </div>
    <div>
      <i class="bi bi-list-ol"></i>
      <a href="./tests.html">Tests</a>
    </div>
    <div>
      <i class="bi bi-file-earmark-binary"></i>
      <a href="./documents.html">Documents</a>
    </div>
    <footer>Logout</footer>
  </section>