<section id="left-section">
{#    <div>#}
{#      <i class="bi bi-house"></i>#}
{#      <a href="./index.html">Home</a>#}
{#    </div>#}
    <div>
      <i class="bi bi-person"></i>
      <a href="{% url 'user:user_list' %}">Profile</a>
    </div>
    <div class="">
      <i class="bi bi-exclamation-circle"></i>
      <a href="{% url 'posts:view' %}">Announcements</a>
    </div>
    <div>
      <i class="bi bi-file-check"></i>
      <a href="{% url 'homework:work_list' %}">Homework</a>
    </div>
{#    <div>#}
{#      <i class="bi bi-list-ol"></i>#}
{#      <a href="">Tests</a>#}
{#    </div>#}
    <div>
      <i class="bi bi-file-earmark-binary"></i>
      <a href="{% url 'notes:list' %}">Notebooks</a>
    </div>
    <footer><a href="{% url 'user:logout' %}">Logout</a> </footer>
  </section>