<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- <meta http-equiv="refresh" content="0.1"> -->
    <title>replit</title>
    <link href="style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <body>
    <script src="script.js"></script>
    <main>
      <section id="left-section">
        <div>
          <i class="bi bi-house"></i>
          <a href="./index.html">Home</a>
        </div>
        <div class="active">
          <i class="bi bi-person"></i>
          <a href="#">Profile</a>
        </div>
        <div>
          <i class="bi bi-exclamation-circle"></i>
          <a href="./announcements.html">Announcements</a>
        </div>
        <div>
          <i class="bi bi-file-check"></i>
          <a href="./homework.html">Homework</a>
        </div>
        <div>
          <i class="bi bi-list-ol"></i>
          <a href="./tests.html">Tests</a>
        </div>
        <div>
          <i class="bi bi-file-earmark-binary"></i>
          <a href="./documents.html">Documents</a>
        </div>
        <footer>
          Logout
        </footer>
      </section>
      <section id="right-section">
        <h1>Hello, Shreyas</h1>
      </section>
    </main>
  </body>
</html>