* {
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

:root {
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
}

body {
  background-color: #efefef;
}

main {
  display: flex;
  width: 70%;
  margin: auto;
  column-gap: 5px;
}

section {
  padding: 1em;
  background-color: white;
  height: 100vh;
  border-radius: 10px;
}

#right-section {
  /* flex-grow: 1; */
  width: 75%;
}

#left-section {
  width: 25%;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;
}

#left-section div {
  font-size: 17px;
  padding: 10px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  column-gap: 7px;
}

#left-section i {
  font-size: 21px;
}

#left-section div a {
  position: relative;
  top: 2px;
  text-decoration: none;
  color: black;
}

#left-section div:hover {
  cursor: pointer;
  background-color: #fcfcfc;
}

h1 {
  margin: 0;
}

.active,
.active:hover {
  background-color: #444 !important;
  color: white;
}

.active a {
  color: white !important;
}

footer {
  position: absolute;
  bottom: 14px;
  color: rgb(255, 60, 60);
  padding: 10px;
}

footer:hover {
  color: darkred;
}

.section-heading {
  margin: 0 0 20px 0;
}

.announcements,
.homeworks,
.classes,
.documents {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.documents {
  row-gap: 10px;
}

.announcement,
.homework,
.class,
.document {
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: var(--shadow);
  -webkit-font-smoothing: antialiased;
}

.document {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.document i {
  cursor: pointer;
}

.homework *,
.class * {
  display: block;
}

.announcement-title,
.homework-title,
.class-title {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 5px 0;
  color: rgb(0, 0, 0, 0.9);
}

.announcement-description,
.homework-description,
.class-description {
  font-size: 15px;
  margin: 0 0 8px 0;
}

.announcement-date,
.homework-start,
.homework-due,
.class-date,
.class-time {
  font-size: 14px;
  color: rgb(150, 150, 150);
}

.class-date,
.class-time {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.class-date {
  margin-top: 5px;
}

.class a {
  margin-top: 10px;
  background-color: #444;
  cursor: pointer;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  width: fit-content;
  font-size: 14px;
}

.class a:hover {
  background-color: #222;
}

.hl {
  border-top: 1px solid #ddd;
  margin: 20px 0;
}

.new-document,
.homework-form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.homework-form {
  margin-top: 10px;
}

.new-document button,
.homework-form button {
  font-size: 13px;
  padding: 10px 15px;
  width: fit-content;
  border-radius: 5px;
  border: 0;
  color: white;
  background-color: #444;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.new-document button:hover,
.homework-form button:hover {
  background-color: #222;
  cursor: pointer;
}