{% extends 'backend/base.html' %}

{% block content %}
    <div class="modal fade" id="new-submission-modal" tabindex="-1" role="dialog" aria-labelledby="uploadModal" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Description</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="container">
            <div class="row bg-dark">
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Mars.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Mars</h5>
                    <p class="card-text">
                      Mars is the fourth planet from the Sun and the second-smallest planet in the Solar System, being larger than only Mercury.
                    </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92bdf20f-3655-4f7e-9780-2f01cc59d32f" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Lungs.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Lungs</h5>
                    <p class="card-text">The lungs are a pair of spongy, air-filled organs located on either side of the chest (thorax). </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=fc55f64c-7da1-46d9-8985-cd170f3f9b3b" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Sun.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Sun</h5>
                    <p class="card-text">The Sun is the star at the center of the Solar System. It is a nearly perfect sphere of hot plasma, heated to incandescence by nuclear fusion reactions in its core, radiating the energy</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=76dda169-a597-486a-aac4-65c5d8e1e682" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Earth.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Earth</h5>
                    <p class="card-text">Earth is the third planet from the Sun and the only astronomical object known to harbor and support life.</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=04822cbd-84fe-4ab0-afe1-032b90df7d1f" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Pyramid.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Pyramid</h5>
                    <p class="card-text">A pyramid is a structure whose outer surfaces are triangular and converge to a single step at the top, making the shape roughly a pyramid.</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=snowy-firefly-0544&entry=41c23aa9-9b5e-4fff-90d6-e0539198579c" class="btn btn-primary" style="border-radius:5px;">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/SolarSystem.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Solar System</h5>
                    <p class="card-text">The Solar System is the gravitationally bound system of the Sun and the objects that orbit it, either directly or indirectly.</p>
                  </div>
                  <a href="https://go.echoar.xyz/KeLN" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Space Needle.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Space Needle</h5>
                    <p class="card-text">The Space Needle is an observation tower in Seattle, Washington, United States. Considered to be an icon of the city and the Pacific Northwest.</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=snowy-firefly-0544&entry=25de17ce-56ea-40db-aa88-68371a257827" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Eiffel.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Eiffel Tower</h5>
                    <p class="card-text">The Eiffel Tower is a wrought-iron lattice tower on the Champ de Mars in Paris, France. </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=92b7cf4a-ee63-49b3-852f-186dec0bdb89" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Colosseum.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Colosseum</h5>
                    <p class="card-text">The Colosseum is an oval amphitheatre in the centre of the city of Rome, Italy, just east of the Roman Forum.</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=e96e9c40-0c90-4929-8186-b24af025e0e8" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/TREX.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">T-Rex</h5>
                    <p class="card-text">Tyrannosaurus is a genus of tyrannosaurid theropod dinosaur. </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=2d402140-4cfa-4cd6-a930-c12eb4a84f81" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Bohr.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Bohr's model of atom</h5>
                    <p class="card-text">The Bohr model shows that the electrons in atoms are in orbits of differing energy around the nucleus (think of planets orbiting around the sun).</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=e3b8a12e-c31a-4d43-9a48-8c9136522808" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Rutherford.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Rutherford's model of atom</h5>
                    <p class="card-text">The Rutherford model was devised by the New Zealand-born physicist Ernest Rutherford</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=7f407769-47e1-41c1-9f30-0b89c76e5c33" class="btn btn-primary"style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/DNA.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">DNA</h5>
                    <p class="card-text">DNA, short for deoxyribonucleic acid, is the molecule that contains the genetic code of organisms. </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=4bb99a57-7f96-4598-b68d-ab254b992c2e" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Heart.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Heart</h5>
                    <p class="card-text">The heart is a muscular organ about the size of a fist, located just behind and slightly left of the breastbone.</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=7d3bef97-14c8-462c-aec6-de6532262611" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/HIV.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">HIV</h5>
                    <p class="card-text">HIV (human immunodeficiency virus) is a virus that attacks the body's immune system. If HIV is not treated, it can lead to AIDS </p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=41ca98cd-2f51-4523-8439-02ffe6661446" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
              <div class="col" style="padding:10px;">
                <div class="card" style="width: 16rem; border-radius:6px; height:420px;">
                  <img src="./VR Images/Rutherford.png" class="card-img-top" alt="..." style="height:40%;">
                  <div class="card-body">
                    <h5 class="card-title">Rutherford's model of atom</h5>
                    <p class="card-text">The Rutherford model was devised by the New Zealand-born physicist Ernest Rutherford</p>
                  </div>
                  <a href="https://console.echoar.xyz/webar?key=shiny-sky-7689&entry=7f407769-47e1-41c1-9f30-0b89c76e5c33" class="btn btn-primary" style="border-radius:5px">Link to AR</a>
                </div>
              </div>
            </div>
          </div>
{% endblock %}