{% load static %}
<!DOCTYPE html>
<html>
  {% include "head.html" %}
  
  <body>
    <!--<script src="script.js"></script>-->
    <main>
      {% include "navbar.html" %}      
      <section id="right-section">
        <h1 class="section-heading">Announcements</h1>
        <div class="announcements">
          {% for announcement in announcements %}
          <div class="announcement">
            <h2 class="announcement-title">{{announcement.title}}</h2>
            <p class="announcement-description">
              {{announcement.description}}
            </p>
            <span class="announcement-date">{{announcement.date}}</span>
          </div>
          {% empty %}
          <div class="">
            <p class="announcement-description">
              No announcements found :(
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>
