{% load static %}
<!DOCTYPE html>
<html>
  {% include "head.html" %}
  
  <body>
    <!--<script src="script.js"></script>-->
    <main>
      {% include "navbar.html" %}      
      <section id="right-section">
        <h1 class="section-heading">Announcements</h1>
      {%  if request.user.type == request.user.TEACHER %}
      <form class="new-document">
          <button>
            <i class="bi bi-pen"></i>
            <span>New</span>
          </button>
        </form>
      {% endif %}
        <div class="announcements">
          {% for announcement in announcements %}
          <div class="announcement">
            <div style="display: flex; align-items: center; justify-content: space-between">
                <div>
                    <h2 class="announcement-title">{{announcement.title}} </h2>
                    <p class="announcement-description">
                        {{announcement.description}}
                    </p>
                    <span class="announcement-date">{{announcement.date}}</span>
                </div>
                <div>
                    {% if announcement.file %}<a class="bi bi-paperclip" href="{{ announcement.file }}" download></a>{% endif %}
                </div>
            </div>
          </div>
          {% empty %}
          <div class="">
            <p class="announcement-description">
              No announcements found :(
            </p>
          </div>
          {% endfor %}
        </div>
      </section>
    </main>
  </body>
</html>
