{% extends 'backend/base.html' %}



{% block content %}




<div class="modal fade" id="description_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="ann_create_modal" tabindex="-1" role="dialog" aria-labelledby="createModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">

      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Create Announcement</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="newPostForm" action="{% url 'posts:create' %}" method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{ create_form }}
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="newPostButton">Save</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="desktop-header">
    <div class="card card-block topnav-left">
      <div class="card-body write-card">
        <div class="d-flex flex-wrap align-items-center justify-content-between">
          <h4>Home</h4>
          <div class="media flex-wrap align-items-center">
            <div class="iq-search-bar card-search mr-3 position-relative">
              <a href="#" class="search-toggle rounded" id="dropdownSearch" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false">
                <i class="ri-search-line"></i>
              </a>
              <div class="iq-sub-dropdown dropdown-menu" aria-labelledby="dropdownSearch">
                <div class="form-group mb-0 position-relative">
                  <input id="filterAnnouncements" type="text" class="text search-input font-size-12"
                    placeholder="Search in announcements">
                  <a id="dropdownSearch" data-toggle="dropdown" href="#" class="search-link"><i
                      class="ri-search-line"></i></a>
                </div>
              </div>
            </div>
            {% if request.user.is_teacher %}<a href="#" class="btn btn-primary add-btn" data-toggle="ann_create_modal"
              data-target="ann_create_modal"><i class="las la-plus pr-2"></i>New Post</a>{% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="card card-block card-stretch card-height note-table">
        <div class="card-body custom-notes-space">
          <ul class="nav nav-tabs" id="postsTagsTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-tags="{{ announcements.0.ANNOUNCEMENT }}" id="announcement-tab"
                data-toggle="tab" href="#announcements" role="tab" aria-controls="home"
                aria-selected="true">Announcements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-tags="{{ announcements.0.RESULT }}" id="result-tab" data-toggle="tab"
                href="#results" role="tab" aria-controls="profile" aria-selected="false">Results</a>
            </li>
          </ul>
          <div class="table-responsive">
            <table id="announcements_table" class="table tree mb-0 tbl-server-info">
              <thead class="bg-white text-uppercase">
                <tr class="ligth">
                  <th>Title</th>
                  <th>Created By</th>
                  <th>Updated</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for announcement in announcements %}
                <tr id="row_{{ announcement.id }}" data-id="1" data-parent="0" data-level="1">
                  <td data-column="name"><span class="treegrid-indent"
                      style="width:15px"></span>{{ announcement.title }} </td>
                  <td>{{ announcement.created_by.get_full_name }}</td>
                  <td>{{ announcement.updated_at|date:"jS b Y" }}</td>
                  <td>
                    <div>
                      {% if announcement.description %}<a href="#" class="badge badge-primary" data-closest-elem="tr"
                        data-toggle="description_modal" data-target="#description_modal"><i class="lar la-eye"></i>
                        <p style="display: none">{{ announcement.description }}</p>
                      </a>{% endif %}
                      {% if announcement.created_by == request.user %}<form style="display: none"
                        action="{% url 'posts:delete' announcement.id %}" method="POST"
                        id="announcement_{{ announcement.id }}">{% csrf_token %}</form><a href="#"
                        announcement_id="{{ announcement.id }}" class="badge badge-danger"
                        data-extra-toggle="delete_announcement" data-closest-elem="tr"><i
                          class="las la-trash-alt mr-0"></i></a> {% endif %}
                      {% if announcement.file %}<a href="{{ announcement.file.url }}" class="badge badge-info" download
                        data-closest-elem="tr"><i class="las la-paperclip"></i></a>{% endif %}
                    </div>
                  </td>
                  <td posts-tags style="display: none">{{ announcement.tags }}</td>
                </tr>
                {% endfor %}

              </tbody>
            </table>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page end  -->
</div>
{% endblock %}

{% block custom_js %}
<script>
  $('[data-toggle=description_modal]').on('click', function () {
    $('#description_modal .modal-body').html($(this).find('p').html());
    $('#description_modal').modal('show');
  });
  $('[data-toggle=ann_create_modal]').on('click', function () {
    $('#ann_create_modal').modal('show');
  });
  $('#newPostButton').on('click', function () {
    const form = $('#newPostForm');
    $.ajax({
      url: form.attr('action'),
      type: 'POST',
      data: form.serialize(),
      success: function (data) {
        const swalWithBootstrapButtons = Swal.mixin({
          customClass: {
            confirmButton: 'btn btn-primary',
            cancelButton: 'btn btn-outline-primary ml-2'
          },
          buttonsStyling: false
        })
        try {
          if (JSON.parse(data) === 'success') {
            console.log("got success")

            swalWithBootstrapButtons.fire({
              title: 'Success!',
              icon: 'success',
              text: "successfully added the announcement",
              showCancelButton: false,
              confirmButtonText: 'OK',
              reverseButtons: true
            }).then((result) => {
              location.reload();
              $("input").each(function (i) {
                $(this).val('')
              })
              console.log(result)
            })
          } else {
            form.innerHTML = data.toString();

          }
        } catch (e) {
          form.html(data);
          console.log(data.toString())
        }
      },
      error: function (data) {
        console.log(data);
      }
    });
  });
  $('#filterAnnouncements').on('keyup', function () {
    const selection = $(this).val();
    console.log("val: " + selection);
    const dataset = $('#announcements_table tbody').find('tr');
    var post_tags = $(".nav-link.active").attr("data-tags")
    dataset.show()
    dataset.filter(function (index, item) {
      console.log("filter result: " + ($(item).children('td').eq(1).text().toLowerCase().indexOf(selection
        .toLowerCase()) === -1).toString())
      if ($(item).find("td[posts-tags]").text() !== post_tags) {
        return true;
      }
      if ($(item).find("td[data-column=name]").text().toLowerCase().indexOf(selection.toLowerCase()) !== -1) {
        return false;
      }
      if ($(item).children('td').eq(1).text().toLowerCase().indexOf(selection.toLowerCase()) !== -1) {
        return false;
      }
      if ($(item).children('td').eq(2).text().toLowerCase().indexOf(selection.toLowerCase()) !== -1) {
        return false;
      }
      if ($(item).children('td').eq(3).find('p').text().toLowerCase().indexOf(selection.toLowerCase()) !== -1) {
        return false;
      } else {
        return true;
      };
    }).hide();
  });
  window.addEventListener("load", () => {
    const dataset = $('#announcements_table tbody').find('tr');
    dataset.show()
    dataset.filter(function (index, item) {
      console.log("filter 1" + $(item).find("div[posts-tags]").text())
      console.log("filter 2" + "{{ announcements.0.ANNOUNCEMENT }}")
      if ($(item).find("td[posts-tags]").text() == "{{ announcements.0.ANNOUNCEMENT }}") {
        return false;
      } else {
        return true;
      }
    }).hide()

  })
  $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
    console.log("hiok")
    const dataset = $('#announcements_table tbody').find('tr');
    dataset.show()
    console.log(e.target)
    dataset.filter(function (index, item) {
      console.log("filter 1" + $(item).find("div[posts-tags]").text())
      console.log("filter 2" + e.target.getAttribute('data-tags'))
      if ($(item).find("td[posts-tags]").text() == e.target.getAttribute('data-tags')) {
        return false;
      } else {
        return true;
      }
    }).hide()
    // newly activated tab
  })
</script>
{% endblock %}